POSTGRES_USER=mlops
POSTGRES_PASSWORD=mlops
POSTGRES_DB=mlflow
MLFLOW_DB=mlflow
AIRFLOW_DB=airflow
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=mlflow
MLFLOW_S3_ENDPOINT_URL=http://minio:9000
MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_MODEL_NAME=sklearn-iris-classifier
MLFLOW_MODEL_ALIAS=champion
AIRFLOW_UID=50000

